<form action="/contest/<%= @id %>/submit/" method="post">
  <p>
    <b>問題</b>
    <select id="tasks" name="task">
    </select>
  </p>
  <p>
    <b>言語</b>
    <select id="langs" name="lang">
      <option value="1">C</option>
      <option value="2">C++</option>
    </select>
  </p>
  <p>
    <b>ソースコード</b><br />
    <textarea rows="20" cols="60" name="code"></textarea>
  </p>
  <p>
    <input class="btn" type="submit" value="提出" />
  </p>
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
</form>
<script>
id = <%= @id %>;
serial = $.urlGet('serial');
$('document').ready(function(){
  tasks = getTasks(id);
  for( var i in tasks ) {
    task = tasks[i];
    $('#tasks').append('<option value="'+task.id+'"'+(task.serial==serial?' selected':'')+'>'+task.serial+':'+task.name+'</option>');
  }
});
</script>
