<table class="table">
  <thead>
    <tr>
      <th>提出時刻</th>
      <th>問題</th>
      <th>ユーザー名</th>
      <th>言語</th>
      <th>点数</th>
      <th>結果</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="subm">
  </tbody>
</table>
<script>
id = <%= @id %>;
serial = "<%= @serial %>";

$('document').ready(function(){
  ss = get<%= @my %>TaskSubmittion(id,serial,$.urlGet('offset'));
  for( var i in ss ) {
    s = ss[i];
	cls = "";
	switch(s.state_id) {
	case 1:
	case 3:
	case 9:
		break;
	case 2:
		cls="ce";
		break;
	case 8:
		cls="acc";
		break;
	default:
		cls="wa";
	}
    $('#subm').append('<tr><td>'+s.created_at+'</td><td><a href="/judge/'+id+'/t/'+s.serial+'">'+s.task_name+'</a></td><td>'+s.user_name+'</td><td>'+(s.lang_id==1?"C":"C++")+'</td><td>'+s.score+'</td><td class="'+cls+'">'+s.state_name+'</td><td><a href="/judge/'+id+'/detail/'+s.id+'">詳細</a></td></tr>');
  }
});
</script>
