<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody id="tasks">
  </tbody>
</table>

<script>
id = <%= @id %>;
function update() {
  tasks = getTasks(id);
  for( var i in tasks ) {
    task = tasks[i];
    $('#tasks').append('<tr><td class="s2">'+task.serial+'</td><td><a href="/judge/'+id+'/t/'+task.serial+'">'+task.name+'</td></tr>');
  }
}
$('document').ready(function(){
  update();
});
</script>
